@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    @apply antialiased;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white font-sans text-neutral-800 dark:bg-neutral-950 dark:text-neutral-200;
    overflow-x: hidden;
    text-wrap: pretty;
  }

  ::selection {
    @apply bg-neutral-200 dark:bg-neutral-700;
  }
}
